.App {
  text-align: center;
}
body{
  font-family: 'nanumsquare';
  background-color: rgba(42, 2, 70, 0.918);
}

.black-nav {
  background: rgba(42, 2, 70, 0.918);
  width: 100%;
  display: flex;
  color: rgb(241, 46, 153);
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}
.list {
  background-color: white;
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
.login {
  margin-left: auto;
  padding-right: 50px;
}

/* 영화 정보 스타일일 */
.app-container {
  display: flex; /*가로로 나열*/
  flex-wrap: wrap;
  justify-content: center;
}

/* 날씨 스타일 */
.weather {
  background: linear-gradient(120deg, #a6c0fe, #f68084);
  color: white;
  padding: 40px;
  border-radius: 10px;
  text-align: center;
  margin: 30px auto;
  max-width: 800px;
  font-family: 'Arial', sans-serif;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.weather span {
  font-size: 1.5rem;
  font-weight: bold;
}

.weather:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.weather-movies {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.weather-movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  text-align: center;
}

/* 영화 포스터 스타일 */
.movie-poster {
  width: 150px;
  height: 225px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.movie-container {
  width : 250px;
  margin: 16px;
  background-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 3px 3px 10px;
}

.movie-container img {
  max-width: 100%;
  transition: transform 0.3s ease; /* 부드러운 확대 효과 */
}

.movie-container:hover {
  transform: scale(1.1); /* 요소를 1.1배 확대 */
}

.movie-info {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.movie-info h4 {
  margin: 0;
  color: white;
}

.movie-info span {
  margin-left: 3px;
  color: white;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto; /* 가로 스크롤 허용 */
  white-space: nowrap; /* 포스터가 한 줄에 배치되도록 설정 */
  padding: 20px;
  background-color: #222; /* 배너 배경 */
}

.banner-movies {
  display: flex;
  gap: 10px; /* 포스터 간 간격 */
}

.movie-poster {
  width: 150px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.2s;
}

.movie-poster:hover {
  transform: scale(1.1); /* 호버 시 확대 효과 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hsl(220, 13%, 18%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
